
.input {
  @include border-old-school;
  &:focus {
    background: $grey-darker;
  }
  &:disabled {
    color: $grey-dark;
    @include border-old-school($grey-dark);
  }
}

.button {
  @include border-old-school;

  &:hover {
    cursor: pointer;
  }
  &:active {
    background: $grey-darker;
  }
  &:disabled {
    color: $grey-dark;
    @include border-old-school($grey-dark);
  }
}

.label {
  &--right {
    padding-left: .5rem;
  }
  &--left {
    padding-right: .5rem;
  }
}

.form-buttons {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.form-buttons__button {
  background: $grey-dark;
}

.form-field {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.form-field__input {
}
.form-field__label {
  padding-right: 1rem;

  &--prompt::after {
    padding-left: 1rem;
    padding-right: .2rem;
    content: ">>";
  }
}