
@mixin list--style-none {
  list-style: none;
}

@mixin text-normalize {
  background: none;
  font: $font-settings;
  border: none;
  color: $green;
}

@mixin border-old-school($color: $grey) {
  border: inset $color .15rem;
  border-radius: .2rem;
}
