<div class="container screen">
  <div class="title section">
    <h1>
      {{ title | titlecase }}
      <br/>
      <small>{{ subtitle }}</small>
    </h1>
  </div>
  
  <nav class="nav-bar">
    <div class="nav-item">
      <a routerLink="/adventure">Adventure</a>  
    </div>
    <div class="nav-item">
      <a routerLink="/world-list">Explore</a>
    </div>
    <div class="nav-item">
      <a routerLink="/adventurer-list">Create</a>  
    </div>
    <div class="nav-item">
      <a routerLink="/adventurer-list">Log in</a>  
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>