<div class="console-container">
  
  <div class="console-history">
    <ol>
      <li *ngFor="let pastCommand of history">
        {{ pastCommand.rawText }}
      </li>
    </ol>
  </div>

  <div class="console-input">
    <label class="console-prompt"
           id="idConsolePrompt"
           for="idConsoleCommand">
      {{ adventurer?.name }}$
    </label>

    <input type="text"
           name="consoleCommand"
           id="idConsoleCommand"
           txpnConsoleInput
           [(ngModel)]="command.rawText"
    >
  </div>
</div>