@import "node_modules/unsemantic/grid";

// Colors
$green: rgb(180, 245, 180);
$dark_green: rgb(140, 210, 140);
$darker_green: rgb(40, 60, 40);
$black_green: rgb(10, 28, 15);

$blue: rgb(180, 180, 245);
$red: rgb(245, 180, 180);
$purple: rgb(245, 180, 245);
$grey: rgb(80, 80, 80);
// Font
$font_size: 1.2rem;
$font_family: monospace;
$font_list: $font_size, $font_family;


body {
  background: black;
}

@mixin text_normalize {
  background: none;
  font: $font_list;
  color: $green;
}

a {
  color: $green;

  &:hover {
    color: rgba($dark_green, .9);
  }
  &:active {
    color: $dark_green;
  }
}

input, button {
  @include text_normalize;
}
.input-text input {
  border: none;
}
.input-text label::after {
  content: ">> ";
}

.screen {
  background: $black_green;
  /* in order: x offset, y offset, blur size, spread size, color */
  box-shadow:
    -5px -3px 40px 6px $green,
    -5px -3px 40px 20px rgba($dark_green, .8)
  ;
  font: $font_list;
  color: $green;
  border: double;
  border-radius: 1.2rem;
  padding: 2rem;
  margin: 2rem;
}

.nav-bar {
  @extend .grid-container;

  .nav-item {
    @extend .grid-20;
    @extend .tablet-grid-25;
    @extend .mobile-grid-50;
    
    padding-bottom: 5px;
    text-align: center;
  }
}

.section {
  border-radius: .8rem;
  padding: .2rem .5rem;
  margin: .2rem;
}

.title {
  text-align: center;
}

.adventurer {
  /*background: #ABD;*/
}

.worlds {
  /*background: #DBA;*/
}

.worlds li .selected {
  /*background: #DBD;*/
}