
body {
  background: black;
}

a {
  color: $green;

  &:hover {
    color: rgba($green-dark, .9);
  }
  &.active {
    color: $green-dark;
  }
}

input, button {
  @include text-normalize;
}

.input {
  @include border-old-school;
}

.button {
  @include border-old-school;

  &:hover {
    cursor: pointer;
  }
}
