body {
  background: black;
}

a {
  color: $green;

  &:hover {
    color: rgba($green-dark, 0.9);
  }
  &.active {
    color: $green-dark;
  }
}

input,
button {
  @include text-normalize;
}

h1,
h2,
h3,
h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
