
.form-buttons {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.form-buttons__button {
  background: $grey-dark;

  &:active {
    background: $grey-darker;
  }
}

.form-field {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.form-field__input {
  background: $grey-darker;
}
.form-field__label {
  padding-right: 1rem;

  &--prompt::after {
    padding-left: 1rem;
    padding-right: .2rem;
    content: ">>";
  }
}