@import "node_modules/unsemantic/grid";

// Colors
$green: rgb(180, 245, 180);
$dark-green: rgb(140, 210, 140);
$darker-green: rgb(40, 60, 40);
$black-green: rgb(10, 28, 15);

$blue: rgb(180, 180, 245);
$red: rgb(245, 180, 180);
$purple: rgb(245, 180, 245);
$grey: rgb(80, 80, 80);
// Font
$font-family: monospace;
$font-size: 1.1rem;
$font-settings: $font-size $font-family;

html {
  // Chrome workaround: if the font family is not defined
  // in the root element, scaling in the body elements
  // becomes inconsistent.
  font-family: $font-family;
}

body {
  font: $font-settings;
  color: $green;
  background: black;
}

@mixin text-normalize {
  background: none;
  font: $font-settings;
  border: none;
  border-bottom: 1px solid;
  color: $green;
}

a {
  color: $green;

  &:hover {
    color: rgba($dark-green, .9);
  }
  &:active {
    color: $dark-green;
  }
}

input, button {
  @include text-normalize;
}
.input-text input {
  border: none;
}
.input-text label::after {
  content: ">> ";
}

.screen {
  // font: $font-settings;
  // color: $green;
  background: $black-green;
  /* in order: x offset, y offset, blur size, spread size, color */
  box-shadow:
    -5px -3px 40px 6px $green,
    -5px -3px 40px 20px rgba($dark-green, .8)
  ;
  border: double;
  border-radius: 1.2rem;
  padding: 2rem;
  margin: 2rem;
}

.nav-bar {
  @extend .grid-container;

  .nav-item {
    @extend .grid-20;
    @extend .tablet-grid-25;
    @extend .mobile-grid-50;
    
    padding-bottom: 5px;
    text-align: center;
  }
}

.console-container {
  word-break: all;
}

.console-history {
  height: 10rem;
  max-height: 50rem;
  resize: vertical;
  overflow-y: scroll;
  ul, ol {
    @extend .grid-parent;
    list-style: none;
  }
}

.console-input {
  input {
    width: 90%;
  }
}

.section {
  border-radius: .8rem;
  padding: .2rem .5rem;
  margin: .2rem;
}

.title {
  text-align: center;
}

.adventurer {
  /*background: #ABD;*/
}

.worlds {
  /*background: #DBA;*/
}

.worlds li .selected {
  /*background: #DBD;*/
}