@import "node_modules/unsemantic/grid";

// Colors
$color_green: rgb(180, 245, 180);
$color_blue: rgb(180, 180, 245);
$color_red: rgb(245, 180, 180);
$color_purple: rgb(245, 180, 245);
// Font
$font_size: 1.2rem;
$font_family: monospace;
$font_list: $font_size, $font_family;


body {
  background: black;
}

@mixin text_normalize {
  background: none;
  font: $font_list;
  color: $color_green;
}

a {
  color: $color_blue;

  &:visited {
    color: $color_purple;
  }
}

input, button {
  @include text_normalize;
}
.input-text input {
  border: none;
}
.input-text label::after {
  content: ">> ";
}

.screen {
  background: rgb(10, 28, 15);
  /* in order: x offset, y offset, blur size, spread size, color */
  box-shadow:
    -5px -3px 40px 6px rgb(180, 245, 180),
    -5px -3px 40px 20px rgba(140, 210, 140, .8)
    ;
  font: $font_list;
  color: $color_green;
  border: double;
  border-radius: 1.2rem;
  padding: 2rem;
  margin: 2rem;
}

.section {
  border-radius: .8rem;
  padding: .2rem .5rem;
  margin: .2rem;
}

.title {
  text-align: center;
}

.adventurer {
  /*background: #ABD;*/
}

.worlds {
  /*background: #DBA;*/
}

.worlds li .selected {
  /*background: #DBD;*/
}